In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [5]:
df=pd.read_csv('car_insurance_claim.csv')

In [6]:
df['INCOME'] = df['INCOME'].str.replace('$', '').str.replace(',', '').astype(float)

In [7]:
df['BIRTH'] = pd.to_datetime(df['BIRTH'])
df['birth_day'] = df['BIRTH'].dt.day
df['birth_month'] = df['BIRTH'].dt.month
df['birth_year'] = df['BIRTH'].dt.year

C:\Users\vikrant\AppData\Local\Temp\ipykernel_13852\1442210547.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['BIRTH'] = pd.to_datetime(df['BIRTH'])

In [8]:
df.drop('BIRTH',axis=1,inplace=True)

In [9]:
df['HOME_VAL'] = df['HOME_VAL'].str.replace('$', '').str.replace(',', '').astype(float)

In [10]:
df['MSTATUS'] = df['MSTATUS'].str.replace('z', '').str.replace('_', '')
df['MSTATUS']=df['MSTATUS'].map({'No':1, 'Yes':2}).astype(int)

In [11]:
df['PARENT1']=df['PARENT1'].map({'No':1, 'Yes':2}).astype(int)

In [12]:
df['GENDER'] = df['GENDER'].str.replace('z', '').str.replace('_', '')
df['GENDER']=df['GENDER'].map({'M':1, 'F':2}).astype(int)

In [13]:
df['EDUCATION'] = df['EDUCATION'].str.replace('z', '').str.replace('_', '').str.replace('<','')
df['EDUCATION']=df['EDUCATION'].map({'PhD':1, 'High School':2, 'Bachelors':3, 'High School':4, 'Masters':5})

In [14]:
df['OCCUPATION'] = df['OCCUPATION'].str.replace('z', '').str.replace('_', '')
df['OCCUPATION']=df['OCCUPATION'].map({'Professional':1, 'Blue Collar':2, 'Manager':3, 'Clerical':4, 'Doctor':5,
           'Lawyer':6, 'nan':0, 'Home Maker':7, 'Student':8})

In [15]:
df['OCCUPATION']=labelencoder.fit_transform(df['OCCUPATION'])

In [16]:
df['CAR_USE']=labelencoder.fit_transform(df['CAR_USE'])

In [17]:
df['BLUEBOOK'] = df['BLUEBOOK'].str.replace('$', '').str.replace(',', '').astype(float)

In [18]:
df['CAR_TYPE'] = df['CAR_TYPE'].str.replace('z', '').str.replace('_', '')
df['CAR_TYPE']=labelencoder.fit_transform(df['CAR_TYPE'])

In [19]:
df['OLDCLAIM'] = df['OLDCLAIM'].str.replace('$', '').str.replace(',', '').astype(int)

In [20]:
df['RED_CAR']=labelencoder.fit_transform(df['RED_CAR'])
df['REVOKED']=labelencoder.fit_transform(df['REVOKED'])

In [21]:
df['CLM_AMT'] = df['CLM_AMT'].str.replace('$', '').str.replace(',', '').astype(int)

In [22]:
df['URBANICITY'].unique()

array(['Highly Urban/ Urban', 'z_Highly Rural/ Rural'], dtype=object)

In [23]:
df['URBANICITY'] = df['URBANICITY'].str.split('/').str[0]
df['URBANICITY'] = df['URBANICITY'].str.replace('z', '').str.replace('_', '')
df['URBANICITY']=df['URBANICITY'].map({'Highly Urban':1, 'HighHighly':2})
df['URBANICITY'] = df['URBANICITY'].astype(float)

In [24]:
df['YOJ']=df['YOJ'].fillna(0)

In [25]:
df['YOJ']=df['YOJ'].fillna(0)

In [26]:
df['HOME_VAL']=df['HOME_VAL'].fillna(0)

In [71]:
df['URBANICITY']=df['URBANICITY'].fillna(0)

In [73]:
mode=df['AGE'].mean()
df['AGE'].fillna(mode, inplace=True)

In [75]:
 mean= df['CAR_AGE'].mean()
df['CAR_AGE'].fillna(mean, inplace=True)

In [76]:
df['YOJ'].unique()

array([11., 10., 14.,  0., 12.,  7.,  5., 13.,  9., 17.,  8., 15., 16.,
        6., 18., 23.,  4.,  3.,  2., 19.,  1.])

In [ ]:
df.info()

In [78]:
df.isnull().sum()

ID             0
KIDSDRIV       0
AGE            0
HOMEKIDS       0
YOJ            0
INCOME         0
PARENT1        0
HOME_VAL       0
MSTATUS        0
GENDER         0
EDUCATION      0
OCCUPATION     0
TRAVTIME       0
CAR_USE        0
BLUEBOOK       0
TIF            0
CAR_TYPE       0
RED_CAR        0
OLDCLAIM       0
CLM_FREQ       0
REVOKED        0
MVR_PTS        0
CLM_AMT        0
CAR_AGE        0
CLAIM_FLAG     0
URBANICITY     0
birth_day      0
birth_month    0
birth_year     0
dtype: int64

In [79]:
df.head(5)

,ID,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,GENDER,...,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG,URBANICITY,birth_day,birth_month,birth_year
0,63581743,0,60.0,0,11.0,67349.0,1,0.0,1,1,...,2,0,3,0,18.0,0,1.0,16,3,2039
1,132761049,0,43.0,0,11.0,91449.0,1,257252.0,1,1,...,0,0,0,0,1.0,0,1.0,21,1,2056
2,921317019,0,48.0,0,11.0,52881.0,1,0.0,1,1,...,0,0,2,0,10.0,0,1.0,18,11,2051
3,727598473,0,35.0,1,10.0,16039.0,1,124191.0,2,2,...,2,0,3,0,10.0,0,1.0,5,3,2064
4,450221861,0,51.0,0,14.0,0.0,1,306251.0,2,1,...,0,0,0,0,6.0,0,1.0,5,6,2048